*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.container{
    border: 5px solid black;
    background-color: whitesmoke;
    margin: 10px auto;
    width: 300px;
}

#screen {
    background-color: white;
    width: 100%;
    height: 50px;
    position: relative;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    

}
.grid-items {
    height: 50px;
    outline: none;
    border: 0.1px solid rgb(212, 212, 212);
}

.grid-items:hover {
    background-color: rgb(182, 182, 182);
    cursor: pointer;
}

#input {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
    color: rgb(63, 63, 63);
    z-index: 222;
    text-align: right;
}